*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
.container{
    padding-top:20px;
    margin: auto;
    width: 80%;
}
nav{
    background-color: #1f2937;
    height: 70px;
    /* text-align: center; */
    /* padding: 30px; */
}
header{
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #f9fAf8;
}
ul{
    float: right;
}
li{
    list-style: none;
    display: inline;
    padding: 20px;
}
a{
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}
.cols{
    padding: 60px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cols-img{
    background-color: #E5E7EB;
}
.section-1{
    color: #f9fAf8;
    background-color: #1f2937;
}
.btn-1{
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 10px 0;
    color: #f9fAf8;
}
h1{
    font-size: 48px;
    font-weight: bolder;
}
.section-2{
    width: 60%;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
}
.section-2 > h3{
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 20px;
}
.illustrations{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin: 30px 0;
}
.sec-2-cols{
    height: 100px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}
.section-3{
    background-color: #E5E7EB;
    text-align: center;
}
.sec-3{
    margin: auto;
    width: 60%;
    padding-top: 50px;
    padding-bottom: 80px;
}
.sec-3 p{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.sec-3 h4{
    float: right;
    padding-right: 20px;
    margin-bottom: 30px;
}
.section-4{
    margin: 50px;
}
.sec-4{
    display: grid;
    align-items: center;
    grid-template-columns: 80% 20%;
    background-color: #3882f6;
    padding: 30px;
    color: #f9fAf8;
    padding-left: 80px;
    border-radius: 10px;
}
.sec-4 button{
    padding: 7px 20px;
    color: #f9fAf8;
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    border-radius: 4px;
}
footer{
    background-color: #1F2937;
    padding: 30px;
    text-align: center;
    color: #f9fAf8;
}
@media(max-width: 768px){
    .container{
        width: 90%;
    }
    nav{
        text-align: center;
    }
    li{
        padding: 15px;
    }
    .cols{
        display: block;
        text-align: center;
    }
    h1{
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }
    .section-1 p{
        margin-bottom: 10px;
    }
    .btn-1{
        border-radius: 5px;
        padding: 12px 25px;
        margin: 10px 0;
    }
    .section-2{
        width: 90%;
    }
    .illustrations{
        width: 100%;
        margin: auto;
        display: block;
    }
    .sec-2-cols{
        margin: auto;
        height: 200px;
        width: 90%;
    }
    .illustrations > div{
        margin-bottom: 20px;
    }
    .sec-3{
        margin: auto;
        width: 80%;
        padding-top: 30px;
        padding-bottom: 60px;
    }
    .sec-3 p{
        font-size: 25px;
    }
    .sec-3 h4{
        display: none;
    }
    .section-4{
        margin: 30px 0;
        /* padding: 30px; */
    }
    
    .sec-4{
        display: block;
        width: 100%;
        border-radius: 0;
        padding: 40px 0;
        text-align: center;
    }
    .sec-4 button{
        padding: 12px 25px;
        margin-top: 30px;
    }
    footer{
        font-size: 12px;
        word-spacing: 0.2rem;
    }
    header{
        font-size: 14px;
    }
    ul a{
        font-size: 13px;
    }
}

