*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    padding-top:20px;
    margin: auto;
    width: 80%;
}
nav{
    background-color: #1f2937;
    height: 70px;
    /* text-align: center; */
    /* padding: 30px; */
}
header{
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #f9fAf8;
}
ul{
    float: right;
}
li{
    list-style: none;
    display: inline;
    padding: 20px;
}
a{
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}
.cols{
    padding: 60px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cols-img{
    background-color: #E5E7EB;
}
.section-1{
    color: #f9fAf8;
    background-color: #1f2937;
}
.btn-1{
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    padding: 6px 15px;
    margin: 10px 0;
    color: #f9fAf8;
}
h1{
    font-size: 48px;
    font-weight: bolder;
}